In [ ]:
#hide
from mydemo.core import *

# MyDemo

> Super demo for nbdev.

This file has become my README and also the index of your documentation.

Thanks to nbdev magic `nbdev_build_docs`, run as part of `make`.

## Install

`pip install your_project_name`  <-- replace with `mydemo`...

## How to use

Fill me in please! Don't forget code examples:

In [ ]:
1+1

2

Okay, sure...

Grab some data from the webs

In [ ]:
dataset = 'car_crashes'
try:
    import seaborn as sns
    df = sns.load_dataset(dataset)
except ModuleNotFoundError:
    df = pd.read_csv(f'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/{dataset}.csv')
df.sample(5)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
42,19.5,4.095,5.655,15.990,15.795,767.91,155.57,TN
35,14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
30,11.2,1.792,3.136,9.632,8.736,1301.52,159.85,NJ
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID

### Test our super demo function

Use our super demo function to check which columns are numeric:

In [ ]:
df.apply(is_numeric)

total              True
speeding           True
alcohol            True
not_distracted     True
no_previous        True
ins_premium        True
ins_losses         True
abbrev            False
dtype: bool

Modules can do their own testing!

In [ ]:
assert is_numeric(df['speeding'])

Okay, this is `index.ipynb` aka the README, but still...

### The README?

Yes, this notebook generates `README.md`.

Just type `nbdev_build_docs`, or even easier `make` from the commandline.

In [ ]:
discretize(df)

total:
	(5.899, 11.1]    6
	(11.1, 12.3]     5
	(12.3, 13.6]     6
	(13.6, 14.5]     4
	(14.5, 15.6]     5
	(15.6, 17.4]     5
	(17.4, 18.1]     5
	(18.1, 19.4]     6
	(19.4, 21.4]     5
	(21.4, 23.9]     4
speeding:
	(1.7910000000000001, 2.413]    6
	(2.413, 3.496]                 5
	(3.496, 3.948]                 5
	(3.948, 4.095]                 5
	(4.095, 4.608]                 5
	(4.608, 5.032]                 5
	(5.032, 6.014]                 5
	(6.014, 6.923]                 5
	(6.923, 7.76]                  5
	(7.76, 9.45]                   5
alcohol:
	(1.592, 3.328]     6
	(3.328, 3.567]     5
	(3.567, 3.948]     5
	(3.948, 4.272]     5
	(4.272, 4.554]     5
	(4.554, 4.968]     5
	(4.968, 5.456]     5
	(5.456, 5.655]     5
	(5.655, 6.765]     5
	(6.765, 10.038]    5
not_distracted:
	(1.7590000000000001, 8.576]    6
	(8.576, 9.944]                 5
	(9.944, 10.92]                 5
	(10.92, 13.056]                5
	(13.056, 13.857]               5
	(13.857, 14.35]                5
	(14.35, 15.624]                5
	(15.624, 16.692]               5
	(16.692, 18.308]               5
	(18.308, 23.661]               5
no_previous:
	(5.899, 8.856]      6
	(8.856, 10.848]     5
	(10.848, 11.592]    5
	(11.592, 12.92]     5
	(12.92, 13.775]     5
	(13.775, 15.13]     5
	(15.13, 16.038]     5
	(16.038, 17.014]    5
	(17.014, 18.706]    5
	(18.706, 21.28]     5
ins_premium:
	(641.9590000000001, 688.75]    6
	(688.75, 732.28]               5
	(732.28, 780.45]               5
	(780.45, 804.71]               5
	(804.71, 858.97]               5
	(858.97, 881.51]               5
	(881.51, 913.15]               5
	(913.15, 1048.78]              5
	(1048.78, 1148.99]             5
	(1148.99, 1301.52]             5
ins_losses:
	(82.749, 106.62]    6
	(106.62, 110.35]    5
	(110.35, 120.21]    5
	(120.21, 133.35]    5
	(133.35, 136.05]    5
	(136.05, 142.39]    5
	(142.39, 148.58]    5
	(148.58, 153.72]    5
	(153.72, 159.85]    5
	(159.85, 194.78]    5
abbrev:
	IA        1
	IN        1
	MS        1
	NH        1
	NV        1
	OK        1
	SC        1
	SD        1
	VA        1
	WA        1
	Other    41
  DROPPED [] because < 2 vals each.

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,"(18.1, 19.4]","(6.923, 7.76]","(5.456, 5.655]","(16.692, 18.308]","(13.775, 15.13]","(780.45, 804.71]","(142.39, 148.58]",Other
1,"(17.4, 18.1]","(6.923, 7.76]","(4.272, 4.554]","(15.624, 16.692]","(16.038, 17.014]","(1048.78, 1148.99]","(133.35, 136.05]",Other
2,"(18.1, 19.4]","(6.014, 6.923]","(4.968, 5.456]","(14.35, 15.624]","(17.014, 18.706]","(881.51, 913.15]","(106.62, 110.35]",Other
3,"(21.4, 23.9]","(3.948, 4.095]","(5.655, 6.765]","(18.308, 23.661]","(18.706, 21.28]","(804.71, 858.97]","(136.05, 142.39]",Other
4,"(11.1, 12.3]","(4.095, 4.608]","(3.328, 3.567]","(9.944, 10.92]","(8.856, 10.848]","(858.97, 881.51]","(159.85, 194.78]",Other
5,"(12.3, 13.6]","(4.608, 5.032]","(3.567, 3.948]","(9.944, 10.92]","(11.592, 12.92]","(804.71, 858.97]","(136.05, 142.39]",Other
6,"(5.899, 11.1]","(4.608, 5.032]","(3.567, 3.948]","(8.576, 9.944]","(5.899, 8.856]","(1048.78, 1148.99]","(159.85, 194.78]",Other
7,"(15.6, 17.4]","(6.014, 6.923]","(4.554, 4.968]","(13.857, 14.35]","(15.13, 16.038]","(1048.78, 1148.99]","(148.58, 153.72]",Other
8,"(5.899, 11.1]","(1.7910000000000001, 2.413]","(1.592, 3.328]","(1.7590000000000001, 8.576]","(5.899, 8.856]","(1148.99, 1301.52]","(133.35, 136.05]",Other
9,"(17.4, 18.1]","(3.496, 3.948]","(4.968, 5.456]","(15.624, 16.692]","(16.038, 17.014]","(1148.99, 1301.52]","(142.39, 148.58]",Other
10,"(14.5, 15.6]","(2.413, 3.496]","(3.567, 3.948]","(14.35, 15.624]","(13.775, 15.13]","(881.51, 913.15]","(142.39, 148.58]",Other
11,"(17.4, 18.1]","(7.76, 9.45]","(6.765, 10.038]","(13.857, 14.35]","(15.13, 16.038]","(858.97, 881.51]","(120.21, 133.35]",Other
12,"(14.5, 15.6]","(5.032, 6.014]","(4.272, 4.554]","(10.92, 13.056]","(13.775, 15.13]","(641.9590000000001, 688.75]","(82.749, 106.62]",Other
13,"(12.3, 13.6]","(4.095, 4.608]","(4.272, 4.554]","(10.92, 13.056]","(11.592, 12.92]","(780.45, 804.71]","(136.05, 142.39]",Other
14,"(13.6, 14.5]","(3.496, 3.948]","(3.948, 4.272]","(13.056, 13.857]","(12.92, 13.775]","(688.75, 732.28]","(106.62, 110.35]",IN
15,"(15.6, 17.4]","(2.413, 3.496]","(3.567, 3.948]","(14.35, 15.624]","(12.92, 13.775]","(641.9590000000001, 688.75]","(110.35, 120.21]",IA
16,"(17.4, 18.1]","(4.608, 5.032]","(3.948, 4.272]","(13.056, 13.857]","(13.775, 15.13]","(732.28, 780.45]","(133.35, 136.05]",Other
17,"(19.4, 21.4]","(3.948, 4.095]","(4.554, 4.968]","(15.624, 16.692]","(16.038, 17.014]","(858.97, 881.51]","(136.05, 142.39]",Other
18,"(19.4, 21.4]","(6.923, 7.76]","(5.655, 6.765]","(14.35, 15.624]","(18.706, 21.28]","(1148.99, 1301.52]","(159.85, 194.78]",Other
19,"(14.5, 15.6]","(5.032, 6.014]","(4.272, 4.554]","(13.056, 13.857]","(11.592, 12.92]","(641.9590000000001, 688.75]","(82.749, 106.62]",Other
20,"(12.3, 13.6]","(4.095, 4.608]","(3.948, 4.272]","(8.576, 9.944]","(11.592, 12.92]","(913.15, 1048.78]","(159.85, 194.78]",Other
21,"(5.899, 11.1]","(1.7910000000000001, 2.413]","(1.592, 3.328]","(1.7590000000000001, 8.576]","(5.899, 8.856]","(913.15, 1048.78]","(133.35, 136.05]",Other
22,"(13.6, 14.5]","(2.413, 3.496]","(3.567, 3.948]","(13.056, 13.857]","(10.848, 11.592]","(1048.78, 1148.99]","(148.58, 153.72]",Other
23,"(5.899, 11.1]","(1.7910000000000001, 2.413]","(1.592, 3.328]","(1.7590000000000001, 8.576]","(5.899, 8.856]","(732.28, 780.45]","(120.21, 133.35]",Other
24,"(17.4, 18.1]","(2.413, 3.496]","(4.968, 5.456]","(1.7590000000000001, 8.576]","(17.014, 18.706]","(881.51, 913.15]","(153.72, 159.85]",MS
25,"(15.6, 17.4]","(6.014, 6.923]","(5.456, 5.655]","(14.35, 15.624]","(12.92, 13.775]","(780.45, 804.71]","(142.39, 148.58]",Other
26,"(19.4, 21.4]","(7.76, 9.45]","(6.765, 10.038]","(16.692, 18.308]","(17.014, 18.706]","(804.71, 858.97]","(82.749, 106.62]",Other
27,"(14.5, 15.6]","(1.7910000000000001, 2.413]","(4.968, 5.456]","(13.056, 13.857]","(12.92, 13.775]","(688.75, 732.28]","(110.35, 120.21]",Other
28,"(14.5, 15.6]","(5.032, 6.014]","(4.554, 4.968]","(13.857, 14.35]","(13.775, 15.13]","(913.15, 1048.78]","(136.05, 142.39]",NV
29,"(11.1, 12.3]","(3.948, 4.095]","(3.328, 3.567]","(9.944, 10.92]","(8.856, 10.848]","(732.28, 780.45]","(110.35, 120.21]",NH
30,"(11.1, 12.3]","(1.7910000000000001, 2.413]","(1.592, 3.328]","(8.576, 9.944]","(5.899, 8.856]","(1148.99, 1301.52]","(153.72, 159.85]",Other
31,"(18.1, 19.4]","(2.413, 3.496]","(4.554, 4.968]","(10.92, 13.056]","(17.014, 18.706]","(858.97, 881.51]","(120.21, 133.35]",Other
32,"(11.1, 12.3]","(3.496, 3.948]","(3.328, 3.567]","(9.944, 10.92]","(8.856, 10.848]","(1148.99, 1301.52]","(148.58, 153.72]",Other
33,"(15.6, 17.4]","(6.014, 6.923]","(4.968, 5.456]","(15.624, 16.692]","(12.92, 13.775]","(688.75, 732.28]","(120.21, 133.35]",Other
34,"(21.4, 23.9]","(5.032, 6.014]","(6.765, 10.038]","(18.308, 23.661]","(18.706, 21.28]","(641.9590000000001, 688.75]","(106.62, 110.35]",Other
35,"(13.6, 14.5]","(3.496, 3.948]","(4.554, 4.968]","(13.857, 14.35]","(10.848, 11.592]","(688.75, 732.28]","(133.35, 136.05]",Other
36,"(19.4, 21.4]","(6.014, 6.923]","(5.655, 6.765]","(16.692, 18.308]","(17.014, 18.706]","(858.97, 881.51]","(159.85, 194.78]",OK
37,"(12.3, 13.6]","(4.095, 4.608]","(1.592, 3.328]","(1.7590000000000001, 8.576]","(10.848, 11.592]","(780.45, 804.71]","(82.749, 106.62]",Other
38,"(18.1, 19.4]","(7.76, 9.45]","(5.456, 5.655]","(16.692, 18.308]","(15.13, 16.038]","(881.51, 913.15]","(153.72, 159.85]",Other
39,"(5.899, 11.1]","(3.496, 3.948]","(3.948, 4.272]","(9.944, 10.92]","(5.899, 8.856]","(1048.78, 1148.99]","(142.39, 148.58]",Other
40,"(21.4, 23.9]","(7.76, 9.45]","(6.765, 10.038]","(18.308, 23.661]","(18.706, 21.28]","(804.71, 858.97]","(110.35, 120.21]",SC
41,"(18.1, 19.4]","(5.032, 6.014]","(5.655, 6.765]","(18.308, 23.661]","(16.038, 17.014]","(641.9590000000001, 688.75]","(82.749, 106.62]",SD
42,"(19.4, 21.4]","(3.948, 4.095]","(5.456, 5.655]","(15.624, 16.692]","(15.13, 16.038]","(732.28, 780.45]","(153.72, 159.85]",Other
43,"(18.1, 19.4]","(6.923, 7.76]","(6.765, 10.038]","(16.692, 18.308]","(16.038, 17.014]","(913.15, 1048.78]","(153.72, 159.85]",Other
44,"(11.1, 12.3]","(4.608, 5.032]","(1.592, 3.328]","(8.576, 9.944]","(8.856, 10.848]","(804.71, 858.97]","(106.62, 110.35]",Other
45,"(12.3, 13.6]","(3.948, 4.095]","(3.948, 4.272]","(10.92, 13.056]","(11.592, 12.92]","(688.75, 732.28]","(106.62, 110.35]",Other
46,"(12.3, 13.6]","(1.7910000000000001, 2.413]","(3.328, 3.567]","(10.92, 13.056]","(10.848, 11.592]","(732.28, 780.45]","(148.58, 153.72]",VA
47,"(5.899, 11.1]","(4.095, 4.608]","(3.328, 3.567]","(8.576, 9.944]","(8.856, 10.848]","(881.51, 913.15]","(110.35, 120.21]",WA
48,"(21.4, 23.9]","(7.76, 9.45]","(5.655, 6.765]","(18.308, 23.661]","(18.706, 21.28]","(913.15, 1048.78]","(148.58, 153.72]",Other
49,"(13.6, 14.5]","(4.608, 5.032]","(4.272, 4.554]","(1.7590000000000001, 8.576]","(10.848, 11.592]","(641.9590000000001, 688.75]","(82.749, 106.62]",Other
50,"(15.6, 17.4]","(6.923, 7.76]","(5.456, 5.655]","(13.857, 14.35]","(15.13, 16.038]","(780.45, 804.71]","(120.21, 133.35]",Other